*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 300px;
    background-color: #fefbfb;
    position: relative;
    box-shadow: 0px 0px 5px 1px white;
    height: 400px;
    overflow: hidden;
}
.main form{
    width: 100%;
    padding: 60px 30px;
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.main input {
    width: 100%;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
}
.btns{
    display: flex;
    justify-content: center;
}
.btns button {
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(45deg,red,yellow); 
    color: black;
    font-weight: bold;
    margin-left: 8px;
}
.form1{
    left: 0;
}
.form2,.form3{
    left: 100%;
}
.progress{
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    margin-bottom: 18px;
}
.progress .step{
    width: 35%;
    text-align: center;
    padding: 14px 0;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}
.progress-bar{
    position: absolute;
    width: 33%;
    background-color: red;
    height: 100%;
    z-index: 1;
    transition:0.5s;
}
.progress-bar::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -20px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 20px solid rgb(255, 0, 0);
}