*{
    margin: 0%;
    padding: 0%;
}
.liner{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(90deg, #7f2458, #873e78, #8b5796, #8b70b2, #8988cb, #7f9bdd, #74aded, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius:;
   }
   .redial{
    height: 400px;
    width: 400px;
    background-image: radial-gradient( red, blue , purple);
    margin: 10px;
   }
.conic{
    height: 500px;
    width: 500px; 
    background-image: conic-gradient(pink,red , blue ,pink);
}