*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}
.navbar.scrolled {
  background-color: #000;
  width: 100%;
}
.navbar.scrolled .navbar-toggler {
  background-color: white;
}
.navbar.scrolled  a{
  color: white;
}
.navbar.scrolled h4{
  color: green;
}
.navbar.scrolled .dropdown .dropdown-menu a{
  color: black;
}
.navbar{
  transition: 1s;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  background-color: grey;
  transition: width 1s ease;
  z-index: 1050; /* Ensure it's above other elements */
}


aside.active {
  width: 400px;
  background-color: grey;
}

/* main */
main{
  margin-top: 96px;
}

/* shop-categories */
.shop-categories{
  margin-top: 96px;
}
.category-header h3{
  border: 1px solid black;
  padding: 8px;
}