*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
header .container .logo h2{
    font-size: 28px;
    color: rgb(119, 77, 0);
    text-transform: uppercase;
}
header .container{
    padding: 16px;
    background-color: grey;
}
header .container nav{
    margin-left: auto;
}
header .container nav ul li{
    margin-right: 16px;
    font-size: 22px;
}
header .container nav ul li a{
    color: black;
    text-transform: capitalize;
}